.cards {
    min-height: 100vh;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card {
    flex: 0 0 250px;
    background: rgb(255, 255, 255);
    border: solid 2px black;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:nth-child(2) {
    transform: scale(1.15);
}
.card header {
    height: 200px;
    background: rgb(0, 0, 0);
    z-index: 5000;
}
.card ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.card ul li {
    width: 200px;
    height: 25px;
    margin: 6px 0;
    border: solid 2px black;
}

button {
    height: 45px;
    background: rgb(30, 8, 131);
    border: solid 2px black;
    width: 130px;
    margin-top: 80px;
    align-self: center;
    margin-bottom: 30px;
}
