* {
    border: solid 2px black;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header,footer {
    height: 20vh;
    background-color: rgb(255, 255, 255);
    color: black;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

article {
    flex: 1;
}

nav, aside {
    width: 20vw;
}

nav {
    order: -1;
}