* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(255, 198, 238);
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
ul li {
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    transition: box-shadow 0.5s, transform .5s;
    margin: 30px 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
